<div class="row">
    <div class="col-lg-5">
        <div class="form-group">
            <label>{{ form.job.label }}:</label>
            {{ form.job }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>{{ form.start_date.label }}:</label>
            {{ form.start_date }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>{{ form.end_date.label }}:</label>
            {{ form.end_date }}
        </div>
    </div>
</div>
