<a class="btn btn-success btn-xs btn-flat btnAddCVitae">
    <i class="fas fa-folder-plus"></i> Agregar dato
</a>
<a class="btn btn-danger btn-xs btn-flat btnRemoveAllCVitae">
    <i class="fas fa-trash"></i> Remover todo
</a>
<hr>
<table width="100%"
       class="table table-bordered table-striped" id="tblCVitae">
    <thead>
    <tr>
        <th>Tipo</th>
        <th>Nombre</th>
        <th>Fecha de inicio</th>
        <th>Fecha de finalización</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>