<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <label>{{ form.contract.label }}:</label>
            {% if instance %}
                {% if instance.contract %}
                    <br/>
                    Actualmente:
                    <a href="{{ instance.get_contract }}"
                       target="_blank">Ver contrato</a>
                    <input type="checkbox" name="contract-clear" id="contract-clear_id">
                    <label for="contract-clear_id">Limpiar</label><br>
                    Modificar:
                {% endif %}
            {% endif %}

            {{ form.contract }}
        </div>
    </div>
</div>