<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Pais de nacimiento:</label>
            {{ form.birth_country }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Provincia de nacimiento:</label>
            {{ form.birth_province }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Ciudad de nacimiento:</label>
            {{ form.birth_city }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>Nacionalidad:</label>
            {{ form.nationality }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>Edad:</label>
            {{ form.age }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>Etnia:</label>
            {{ form.ethnicity }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>Religión:</label>
            {{ form.religion }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>Teléfono de emergencia:</label>
            {{ form.emergency_number }}
        </div>
    </div>
{#    <div class="col-lg-9">#}
{#        <div class="form-group">#}
{#            <label>Dirección - Calle principal y secundaria:</label>#}
{#            {{ form.address }}#}
{#        </div>#}
{#    </div>#}
</div>