<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>{{ frmRepr.first_name_rp.label }}:</label>
            {{ frmRepr.first_name_rp }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>{{ frmRepr.last_name_rp.label }}:</label>
            {{ frmRepr.last_name_rp }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>{{ frmRepr.ci_rp.label }}:</label>
            {{ frmRepr.ci_rp }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>{{ frmRepr.cell_phone_rp.label }}:</label>
            {{ frmRepr.cell_phone_rp }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>{{ frmRepr.conventional_phone_rp.label }}:</label>
            {{ frmRepr.conventional_phone_rp }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>{{ frmRepr.emergency_number_rp.label }}:</label>
            {{ frmRepr.emergency_number_rp }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>{{ frmRepr.relationship_rp.label }}:</label>
            {{ frmRepr.relationship_rp }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>{{ frmRepr.nationality_rp.label }}:</label>
            {{ frmRepr.nationality_rp }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>{{ frmRepr.email_rp.label }}:</label>
            {{ frmRepr.email_rp }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>{{ frmRepr.blood_group_rp.label }}:</label>
            {{ frmRepr.blood_group_rp }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>{{ frmRepr.address_rp.label }}:</label>
            {{ frmRepr.address_rp }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>{{ frmRepr.reference_rp.label }}:</label>
            {{ frmRepr.reference_rp }}
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-2">
        <div class="form-group">
            <label>{{ frmRepr.is_working_rp.label }}:</label>
            {{ frmRepr.is_working_rp }}
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>{{ frmRepr.workplace_rp.label }}:</label>
            {{ frmRepr.workplace_rp }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>{{ frmRepr.work_phone_rp.label }}:</label>
            {{ frmRepr.work_phone_rp }}
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label>{{ frmRepr.work_email_rp.label }}:</label>
            {{ frmRepr.work_email_rp }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>{{ frmRepr.work_address_rp.label }}:</label>
            {{ frmRepr.work_address_rp }}
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>{{ frmRepr.croquis_rp.label }}:</label>
            {% if instance_rpr %}
                <br/>
                {% if instance_rpr.croquis_rp %}
                    Actualmente:
                    <a href="{{ instance_rpr.get_croquis }}"
                       target="_blank">Ver archivo actual</a>
                    <input type="checkbox" name="croquis-clear" id="croquis-clear_id">
                    <label for="croquis-clear_id">Limpiar</label><br>
                    Modificar:
                {% endif %}
            {% endif %}
            {{ frmRepr.croquis_rp }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>{{ frmRepr.basic_services_payment_rp.label }}:</label>
            {% if instance_rpr %}
                <br/>
                {% if instance_rpr.basic_services_payment_rp %}
                    Actualmente:
                    <a href="{{ instance_rpr.get_comprobante }}"
                       target="_blank">Ver archivo actual</a>
                    <input type="checkbox" name="comprob-clear" id="comprob-clear_id">
                    <label for="comprob-clear_id">Limpiar</label><br>
                    Modificar:
                {% endif %}
            {% endif %}
            {{ frmRepr.basic_services_payment_rp }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>{{ frmRepr.image_rp.label }}:</label>
            {% if instance_rpr %}
                <br/>
                {% if instance_rpr.image_rp %}
                    Actualmente:
                    <a href="{{ instance_rpr.get_image }}"
                       target="_blank">Ver imagen actual</a>
                    <input type="checkbox" name="image-rpr-clear" id="image-rpr-clear_id">
                    <label for="image-rpr-clear_id">Limpiar</label><br>
                    Modificar:
                {% endif %}
            {% endif %}
            {{ frmRepr.image_rp }}
        </div>
    </div>
</div>