<a class="btn btn-success btn-xs btn-flat btnAddFamily">
    <i class="fas fa-folder-plus"></i> Agregar familiar
</a>
<a class="btn btn-danger btn-xs btn-flat btnRemoveAllFamily">
    <i class="fas fa-trash"></i> Remover todo
</a>
<hr>
<table width="100%"
       class="table table-bordered table-striped" id="tblFamily">
    <thead>
    <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Cédula</th>
        <th>Parentesco</th>
        <th>Opciones</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>