{% extends 'list.html' %}

{% block columns %}
    <th>Nro</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Imagen</th>
    <th>Bodega</th>
    <th>Fecha registro</th>

    <th class="text-center">Opciones</th>
{% endblock %}

{% block rows %}
    {% for i in object_list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.description|truncatewords:5 }}</td>
            <td>
                <img class="img-fluid mx-auto d-block" style="width: 35px; height: 35px;"
                     src={{ i.get_image }}>
            </td>
            <td>{{ i.bodega_id }}</td>
            <td>{{ i.fecha_created}}</td>

            <td class="text-center">
                <a href="{% url 'update_material' i.id %}" data-toggle="tooltip" title="Editar registro"
                   class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'delete_material' i.id %}" rel="delete" data-toggle="tooltip"
                   title="Eliminar registro" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}