{% extends 'form.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_form %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}"/>
    <script src="{% static 'teacher/js/profile.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="form" autocomplete="off" method="post" action="." enctype="multipart/form-data" id="frmForm"
          data-url="{{ list_url }}">
        <div class="card {{ dshboard.card }}">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body" style="display: block;">
                <div class="container-fluid">
                    <input type="hidden" name="action" id="action" value="{{ action }}">
                    {% csrf_token %}
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">
                                <i class="fa"></i> Datos personales
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu1">
                                Hoja de Vida
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu2">
                                Documentos habilitantes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu3">
                                Contrado firmado
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu4">
                                Datos adicionales
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu5">
                                Contrato
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane container-fluid active" id="home">
                            <br>
                            {% include 'teacher/shared/tab_datos_personales.html' %}
                        </div>
                        <div class="tab-pane container-fluid fade" id="menu1">
                            <br>
                            {% include 'teacher/shared/tab_cv.html' %}
                        </div>
                        <div class="tab-pane container-fluid fade" id="menu2">
                            <br>
                            {% include 'teacher/shared/tab_documentos.html' %}
                        </div>
                        <div class="tab-pane container-fluid fade" id="menu3">
                            <br>
                            {% include 'teacher/shared/tab_contrato.html' %}
                        </div>
                        <div class="tab-pane container-fluid fade" id="menu4">
                            <br>
                            {% include 'teacher/shared/tab_datos_adicionales.html' %}
                        </div>
                        <div class="tab-pane container-fluid fade" id="menu5">
                            <br>
                            {% include 'teacher/shared/tab_contract_job.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
    {% include 'teacher/shared/modal_cv.html' %}
    <script type="application/javascript">
        teacher.details.cvitae = {{ cvitae|safe }};
        teacher.list_cvitae();
    </script>
{% endblock %}