{% extends 'detail.html' %}

{% block content_card %}
<div class="bg-light" >
    <div class="container" style="background-color: white;">
        <div class="row">
            
            <div class="col col-lg-2">
                <img src="{{ object.user.get_image }}" alt="student profile" class="img-thumbnail">
            </div>
            <div class="col col-lg-8" >
                <!--
                <h5 style="font-family: 'Google Sans',Roboto,Arial,sans-serif;letter-spacing: 0;line-height: 2.25rem;hyphens: auto;word-break: break-word;color: #202124;word-wrap: break-word;" class="h2 mt-3">{{ object.user.get_full_name }}</h5>
                -->
                <h3 style="font-family: 'Google Sans',Roboto,Arial,sans-serif;letter-spacing: 0;word-wrap: break-word;" >{{ object.user.get_full_name }}</h3>
                <p class="h6 mt-3">Docente</p>
            </div>
            <div class="col col-lg-2" >
                <p class="h6 mt-3"></p>
                <a href="{% url 'techer_print_pdf' object.id %}" class="btn btn-danger btn-sm btn-flat mt-1 w-10">Descargar PDF <i class="fas fa-file-pdf"></i></a>

            </div>
        </div>
    </div>
</div>
    <div class="row mt-4" style="font-family: "Open Sans", sans-serif;;text-transform: uppercase;font-size: .7475rem;letter-spacing: .07272727em;hyphens: auto;word-break: break-word;word-wrap: break-word;color: #202124">
        <div class="col col-lg-6">
            <div class="card card-success" >
                <div class="card-body">
            <p><b>Cédula</b>: {{ object.user.dni|default_if_none:"(Vacío)" }}</p>
            <p><b>Correo electrócnico personal</b>: {{ object.user.email|default_if_none:"(Vacío)" }}</p>
            <p><b>Correo electrócnico institucional</b>: {{ object.email_institucional|default_if_none:"(Vacío)" }}</p>
           
            
            <p><b>Fecha de nacimiento: </b>{{ object.birthdate|default_if_none:"(Vacío)" }}</p>
            <p><b>Celular: </b>{{ object.mobile|default_if_none:"(Vacío)" }}</p>
            <p><b>Teléfono convencional: </b>{{ object.phone|default_if_none:"(Vacío)" }}</p>
            
            <p><b>Etnia: </b>{{ object.ethnicity|default_if_none:"(Vacío)" }}</p>
            <p><b>Religión: </b>{{ object.religion|default_if_none:"(Vacío)" }}</p>
            <p><b>Grupo sanguíneo: </b>{{ object.blood_group|default_if_none:"(Vacío)" }}</p>
            <p><b>Nacionalidad: </b>{{ object.nationality |default_if_none:"(Vacío)"}}</p>

            <p><b>Referencia: </b>{{ object.reference }}</p>
            <hr/>
            <p><b>Discapacidad: </b>{{ object.disability|yesno:"Sí,No" }}</p>
            <p><b>Porcentaje de discapacidad: </b>{{ object.disability_percentage|default_if_none:"(Vacío)" }} %</p>
            <p><b>Tipo de discapacidad: </b>{{ object.disability_type|default_if_none:"(Vacío)" }}</p>
            <p><b>Enfermedades catastróficas: </b>{{ object.cat_illnesses|yesno:"Sí,No" }}</p>
            <p><b>Descripción. enfermedades catastróficas: </b>{{ object.cat_illnesses_desc }}</p>
                </div>
            </div>
        </div>
        <div class="col col-lg-6" style="font-family: "Open Sans", sans-serif;text-transform: uppercase;font-size: .7475rem;letter-spacing: .07272727em;hyphens: auto;word-break: break-word;word-wrap: break-word;color: #202124">
            <div class="card card-success">
                <div class="card-body">
            <p><b>Edad: </b>{{ object.age|default_if_none:"(Vacío)" }} años</p>
            <p><b>Género: </b>{{ object.gender|default_if_none:"(Vacío)" }}</p>
            <p><b>Estado civil: </b>{{ object.civil_status|default_if_none:"(Vacío)" }}</p>
        
            <p><b>País: </b>{{ object.parish.canton.province.country.name }}</p>
            <p><b>Provincia: </b>{{ object.parish.canton.province.name }}</p>
            <p><b>Cantón: </b>{{ object.parish.canton.name }}</p>
            <p><b>Parroquia: </b>{{ object.parish.name }}</p>
            <p><b>Dirección: </b>{{ object.address }}</p>
            
                </div>
            </div>
            
            <div class="w-50">
                
                <a href="{{ object.get_cv_doc }}" target="_blank" class="btn btn-success btn-sm btn-flat mt-2 w-100">
                    <i class="fas fa-id-card mr-1"></i> Curriculum vitae
                </a>               
                <a href="{{ object.get_ci_doc }}" target="_blank" class="btn btn-primary btn-sm btn-flat mt-2 w-100">
                    <i class="fas fa-id-card mr-1"></i> Cédula
                </a>
                <a href="{{ object.get_comprobante }}" target="_blank"
                   class="btn btn-info btn-sm btn-flat mt-2 w-100">
                    <i class="fas fa-cash-register mr-1"></i> Comprobante SB
                </a>
                <a href="{{ object.get_commitment_act }}" target="_blank"
                   class="btn btn-warning btn-sm btn-flat mt-2 w-100">
                    <i class="fas fa-briefcase mr-1"></i> Acta de compromiso
                </a>
                <a href="{{ object.get_contract }}" target="_blank" class="btn btn-secondary btn-sm btn-flat mt-2 w-100">
                    <i class="fas fa-signature mr-1"></i> Contrato
                </a>
                <a href="{{ object.get_croquis }}" target="_blank" class="btn btn-primary btn-sm btn-flat mt-2 w-100">
                    <i class="fas fa-map-marked mr-1"></i> Croquis
                </a>
                    
            </div>
        </div>
    </div>
    
       
{% endblock %}
{% block box_footer %}
    <div class="card-footer">
        <a href="{% url 'teacher_list' %}" class="btn btn-info btn-flat">
            <i class="fas fa-backward"></i> Regresar
        </a>
    </div>
{% endblock %}