
<!DOCTYPE html>
<html lang="en">
<head>
<title>Generador de Fichas</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
           <style>
              @page {
                  size: A4 portrait;
                  margin: 10mm;
              }
              .subheader-content {
                  font-size: 1.2em;
                  margin-top: 0;
                  text-align: center;
              }
              
              table {
                  width: 100%;
                  border: -5px solid #4a4b4b;
                  table-layout: fixed;
                  overflow-wrap: break-word;
                  color: #212529;
                  font-size: 13px;
                  padding-top:5px;
                  padding-bottom:1px;
                  
                  
                  
              }
              table tbody tr td{
                  font-weight: normal;
              }
          </style>
      </head>
      <body>
        <h1>Datos del Estudiante</h1>
        <div style="padding: 0; margin: 0;">
            <div class="card-body">
                <table  cellpadding="3">
                    <tr>
                        <td><b>{{ data.user.first_name|default_if_none:"(Vacío)" }} {{ data.user.last_name|default_if_none:"(Vacío)" }}</b></td>
                        <td><img class="imagenx"height="130px" width="90px" src="{{ data.user.image.path }}"></td>
                    </tr>
                    <!--<tr>
                        <td><b>Nombres</b></td>
                        <td>{{ data.user.first_name|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Apellidos</b></td>
                        <td>{{ data.user.last_name|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    -->
                    <tr>
                        <td><b>Correo electrónico</b></td>
                        <td>{{ data.user.email|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Cédula</b></td>
                        <td>{{ data.user.dni|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Edad</b></td>
                        <td>{{ data.age|default_if_none:"(Vacío)" }} años</td>
                    </tr>
                    <tr>
                        <td><b>Étnia</b></td>
                        <td>{{ data.ethnicity|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Religión</b></td>
                        <td>{{ data.religion|default_if_none:"(Vacío)" }}</td>
                    </tr>

                    <tr>
                        <td><b>Género</b></td>
                        <td>{{ data.gender|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Celular</b></td>
                        <td>{{ data.mobile|default_if_none:"(Vacío)"  }}</td>
                    </tr>
                    <tr>
                        <td><b>Teléfono de emergencia</b></td>
                        <td>{{ data.mobile|default_if_none:"(Vacío)" }}</td>
                    </tr>       
                    <tr>
                        <td><b>Dirección</b></td>
                        <td>{{ data.address }}</td>
                    </tr>     
                    <tr>
                        <td><b>Fecha de nacimiento</b></td>
                        <td>{{ data.birthdate|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>País de nacimiento</b></td>
                        <td>{{ data.birth_country }}</td>
                    </tr>
                    <tr>
                        <td><b>Provincia de nacimiento</b></td>
                        <td>{{ data.birth_province }}</td>
                    </tr>
                    <tr>
                        <td><b>Ciudad de nacimiento</b></td>
                        <td>{{ data.birth_city }}</td>
                    </tr>
                    <tr>
                        <td><b>Nacionalidad</b></td>
                        <td>{{ data.nationality }}</td>
                    </tr>
                    

                </table>
            </div>
            <h1>Datos del Representante </h1>
            <div class="card-body">
                <table cellpadding="3">
                    <tr>
                        <td><b>{{ repre.first_name_rp|default_if_none:"(Vacío)" }} {{ repre.last_name_rp|default_if_none:"(Vacío)" }}</b></td>
                        <td><img class="imagenx"height="130px" width="90px" src="{{ data.user.image.path }}"></td>

                    </tr>
                    <!--<tr>

                        <td><b>Nombres</b></td>
                        <td>{{ data.user.first_name|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Apellidos</b></td>
                        <td>{{ data.user.last_name|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    -->
                    <tr>
                        <td><b>Parentesco</b></td>
                        <td>{{ repre.relationship_rp|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Cédula</b></td>
                        <td>{{ repre.ci_rp|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Nacionalidad</b></td>
                        <td>{{ repre.nationality_rp|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Dirección</b></td>
                        <td>{{ repre.address_rp|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Referencia</b></td>
                        <td>{{ repre.reference_rp|default_if_none:"(Vacío)" }}</td>
                    </tr>

                    <tr>
                        <td><b>Celular</b></td>
                        <td>{{ repre.cell_phone_rp|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Teléfono convencional:</b></td>
                        <td>{{ repre.conventional_phone_rp|default_if_none:"(Vacío)"  }}</td>
                    </tr>
                    <tr>
                        <td><b>Teléfono de emergencia</b></td>
                        <td>{{ repre.emergency_number_rp|default_if_none:"(Vacío)" }}</td>
                    </tr>       
                    <tr>
                        <td><b>Correo Electrónico</b></td>
                        <td>{{ repre.email_rp }}</td>
                    </tr>     
                    <tr>
                        <td><b>Grupo sanguíneo: </b></td>
                        <td>{{ repre.blood_group_rp|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Trabaja</b></td>
                        <td>{{ repre.is_working_rp }}</td>
                    </tr>
                    <tr>
                        <td><b>Lugar de trabajo</b></td>
                        <td>{{ repre.workplace_rp }}</td>
                    </tr>
                    <tr>
                        <td><b>Teléfono del trabajo</b></td>
                        <td>{{ repre.work_phone_rp }}</td>
                    </tr>
                    <tr>
                        <td><b>Dirección del trabajo</b></td>
                        <td>{{ repre.work_address_rp }}</td>
                    </tr>
                    <tr>
                        <td><b>Correo Electrónico del trabajo</b></td>
                        <td>{{ repre.work_email_rp }}</td>
                    </tr>
                </table>
            </div>
            <h1>Ficha Médica del Estudiante</h1>
            <div class="card-body">
                <table cellpadding="3">
                
                    <tr>
                        <td><b>Peso</b></td>
                        <td>{{ ficha.weight|default_if_none:"(Vacío)" }} kg</td>
                    </tr>
                    <tr>
                        <td><b>Talla</b></td>
                        <td>{{ ficha.size|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Estatura</b></td>
                        <td>{{ ficha.height|default_if_none:"(Vacío)" }} metros</td>
                    </tr>
                    <tr>
                        <td><b>Grupo sanguíneo</b></td>
                        <td>{{ ficha.blood_group|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Donante</b></td>
                        <td>{{ ficha.donor|default_if_none:"(No)" }}</td>
                    </tr>

                    <tr>
                        <td><b>Discapacidad</b></td>
                        <td>{{ ficha.disability|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Tipo de discapacidad</b></td>
                        <td>{{ ficha.disability_type|default_if_none:"(Vacío)"  }}</td>
                    </tr>
                    <tr>
                        <td><b>Porcentaje de discapacidad</b></td>
                        <td>{{ ficha.disability_per|default_if_none:"(Vacío)" }} %</td>
                    </tr>       
                    <tr>
                        <td><b>Alergias</b></td>
                        <td>{{ ficha.allergies }}</td>
                    </tr>     
                    <tr>
                        <td><b>Descripciónde  alergias</b></td>
                        <td>{{ ficha.allergies_desc|default_if_none:"(Vacío)" }}</td>
                    </tr>
                    <tr>
                        <td><b>Tratamiento de alergias</b></td>
                        <td>{{ ficha.allergy_treatment }}</td>
                    </tr>
                    <tr>
                        <td><b>Enfermedades padecidas</b></td>
                        <td>{{ ficha.diseases_suffered }}</td>
                    </tr>
                    <tr>
                        <td><b>Descripción de enfermedades pacecidas</b></td>
                        <td>{{ repre.diseases_suffered_desc }}</td>
                    </tr>
                    <tr>
                        <td><b>Enfermedades preexistentes</b></td>
                        <td>{{ ficha.pre_diseases }}</td>
                    </tr>
                    <tr>
                        <td><b>Descripción enfermedades preexistentes</b></td>
                        <td>{{ repre.pre_diseases_desc }}</td>
                    </tr>
                    <tr>
                        <td><b>Enfermedades catastróficas</b></td>
                        <td>{{ ficha.cat_illnesses }}</td>
                    </tr>  
                    <tr>
                        <td><b>Descripción enfermedades catastróficas</b></td>
                        <td>{{ ficha.cat_illnesses_desc }}</td>
                    </tr>  
                    <tr>
                        <td><b>Medicación</b></td>
                        <td>{{ ficha.medication }}</td>
                    </tr> 
                    <tr>
                        <td><b>Tipo de medicación</b></td>
                        <td>{{ ficha.medication_type }}</td>
                    </tr>
                    <tr>
                        <td><b>Horario de medicación</b></td>
                        <td>{{ ficha.medication_schedule }}</td>
                    </tr>
                    
                    
                </table>
            </div>
            
            
        </div>
      </body>
      </html>