{% extends 'list.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head_list %}
    <script src="{% static 'lib/bootstrap-daterangepicker-3.0.5/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.0.5/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.0.5/daterangepicker.css' %}"/>
    <script src="{% static 'assistance/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Fecha de asistencia</th>
    <th>Nombres</th>
    <th>Número de cédula</th>
    <th>Asistio</th>
    <th>Descripción</th>
{% endblock %}

{% block content_list_before %}
    <div class="row">
        <div class="col-lg-7">
            <div class="form-group">
                <label>Fecha de asistencia:</label>
                <div class="input-group mb-3">
                    {{ form.date_range }}
                    <span class="input-group-append">
                        <button type="button" class="btn btn-warning btn-flat btnSearchAssist">
                            <i class="far fa-calendar-check"></i> Buscar asistencias
                        </button>
                    </span>
                    <span class="input-group-append">
                        <button type="button" class="btn btn-danger btn-flat btnRemoveAssist" disabled>
                            <i class="fas fa-trash-alt"></i> Eliminar asistencia(s)
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block javascript_list %}

{% endblock %}