{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <link rel="stylesheet" href="{% static 'lib/formvalidation-dist-v1.7.0/dist/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-dist-v1.7.0/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.7.0/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.7.0/dist/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-dist-v1.7.0/dist/js/locales/es_ES.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <script src="{% static 'notedetails/student/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Nro</th>
    <th>Nombre</th>
    <th>Tipo de Actividad</th>
    <th>Período</th>
    <th>Ámbito</th>
    <th>Nivel</th>
    <th>Fecha de inicio</th>
    <th>Fecha de finalización</th>
    <th>Calificación</th>
    <th>Equivalencia</th>
    <th>Comentario</th>
    <th>Documento</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block content_list_before %}
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>Período:</label>
                {{ form.period }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Ámbito:</label>
                {{ form.matter }}
            </div>
        </div>
    </div>
    <hr>
    <div class="modal fade" id="myModalDetails" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <b><i class="fas fa-folder-open"></i> Detalles de la actividad</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <p class="desc"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" target="_blank" class="link-desc d-block mx-auto">
                        <i class="fas fa-link"></i>
                        Accede al enlace de la actividad dando click aquí
                    </a>
                    <a href="" target="_blank" class="link-rubric d-block mx-auto">
                        <i class="fas fa-file-pdf"></i>
                        Descarga la rúbrica pdf dando click aquí
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalUpload" tabindex="-1" role="dialog" aria-hidden="true">
        <form id="frmUpload" autocomplete="off" method="post" action=".">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b><i class="fas fa-file-upload"></i> Subir resolución</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Resolución (Formato pdf):</label>
                            <input type="file" class="form-control" required name="archive" accept="application/pdf">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fas fa-save"></i> Subir
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript_list %}

{% endblock %}

{% block box_footer %}

{% endblock %}