<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{ tab_profile }}" href="{% url 'user_update_profile' %}">
            <i class="fa"></i> Editar perfil
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ tab_medical }}" href="{% url 'student_medrecord_create' %}">
            Ficha médica
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ tab_representative }}" href="{% url 'leg_representative_create' %}">
            Datos del representante
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#menu1">
            Grupo familiar
        </a>
    </li>
</ul>