<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{ tab_profile }}" href="{% url 'user_update_profile' %}">
            <i class="fa"></i> Editar perfil
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ tab_medical }}" href="{% url 'student_medrecord' %}">
            Ficha médica
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ tab_representative }}" href="{% url 'leg_representative' %}">
            Datos del representante
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ tab_family }}" href="{% url 'family_list' %}">
            Grupo familiar
        </a>
    </li>
</ul>