<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{ tab_add }}" href="{% url 'student_create' %}">
            <i class="fa"></i> Agregar estudiante
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ tab_medical }}" href="{% url 'student_medrecord_create' %}">
            Ficha médica
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ tab_representative }}" href="{% url 'leg_representative_create' %}">
            Datos del representante
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ tab_family }}" href="{% url 'family_add' %}">
            Grupo familiar
        </a>
    </li>
</ul>