{% extends 'skin.html' %}
{% load static %}
{% block head_body %}
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
{% endblock %}
{% load widget_tweaks %}
{% block breadcrumb %}
{% endblock %}


{% block content %}


<div class="col-md-12">

    <div class="card card-widget widget-user shadow-lg" >
    
    <div class="widget-user-header" style="background-color: #04bc94;height: 85px">
    <span  style="font-family: 'Google Sans',Roboto,Arial,sans-serif; color:azure;">Bienvenido al:</span>

    <h3 class="widget-user-username" style="font-family: 'Google Sans',Roboto,Arial,sans-serif; color:azure;">{{ company.name }}</h3>
    </div>
    <div class="widget-user-image">
    <img class="img-circle elevation-3" src="{{ company.get_image }}" alt="User Avatar" style="width: 110px; height: 110px;">
    
    </div>
    <div class="card-footer">
    <div class="row">
    <div class="col-sm-3 border-right">
        <div class="description-block">
            <i style="color: #fff328;" class="fas fa-phone-square-alt fa-2x p-3"></i>
            
            <h5 class="description-header font-weight-bold mb-2">
                Teléfono
            </h5>
            <span class="description-text">
                    {{ company.mobile }} 
                </span>
        </div>
    
    </div>
    
    <div class="col-sm-3 border-right">
        <div class="description-block">
            <i style="color: #cf3737;" class='fas fa-mail-bulk fa-2x p-3'></i>

            <h5 class="description-header font-weight-bold mb-2">
                Correo electrónico
            </h5>
            <span class="description-text">
                    {{ company.email }}
                </span>
        </div>
    
    </div>
    
    <div class="col-sm-3">
        <div class="description-block border-right">
            <i  style="color: #5fcf80;" class="fas fa-directions fa-2x p-3"></i>
            <h5 class="description-header font-weight-bold mb-2">
                Dirección
            </h5>
            <span class="description-text">
                    {{ company.address }}
                </span>
        </div>
    
    </div>
    <div class="col-sm-3">
        <div class="description-block">
            <i  <i style="color: #007bff;" class="fas fa-map-marked-alt fa-2x p-3"></i>
            <h5 class="description-header font-weight-bold mb-2">
                Ubicación
            </h5>
            <span class="description-text">
                    {{ company.coordinates }}
                </span>
        </div>
    
    </div>
    <apan class="widget-user-desc">
            
        Tu último acceso fue {{ request.user.last_login }}
    </span>
    
    </div>
    
    </div>
    </div>
    
    </div>








    {% if request.user.is_superuser %}

    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user-graduate"></i></span>
        <div class="info-box-content">
        <span class="info-box-text">Estudiantes</span>
        <span class="info-box-number">{{stu_count}}
        
        <small></small>
        </span>
        </div>
        
        </div>
        
        </div>
        
        <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
        <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-users"></i></span>
        <div class="info-box-content">
        <span class="info-box-text">Empleados</span>
        <span class="info-box-number">{{teac_count}}</span>
        </div>
        
        </div>
        
        </div>
        
        
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fab fa-buromobelexperte"></i></span>
        <div class="info-box-content">
        <span class="info-box-text">Periodos Académicos</span>
        <span class="info-box-number">{{peri_count}}</span>
        </div>
        
        </div>
        
        </div>
        
        <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-box-open"></i></span>
        <div class="info-box-content">
        <span class="info-box-text">Materiales</span>
        <span class="info-box-number">{{materi_count}}</span>
        </div>
        
        </div>
        
        </div>
        
        </div>
    
    




    <div class="row" >
        <div class="col-md-6">
            <div class="card card-white shadow-lg">            
                <div class="container-fluid"> </div> 
                <div id="container-pie"></div>           
            </div>            
        </div>

        <div class="col-md-6">
            <div class="card card-white shadow-lg">
                <div class="container-fluid"></div>
                    <div id="container"></div>
                    
            </div>
                
        </div>
    </div>





    <div class="container-fluid">
        
        <div class="row">   
            <div class="col-md-6" >
                <div class="card-header" >
                    <a class="font-weight-bold" style="pointer-events: none; color: #3bbd61;">
                        Actividades reciente
                    </a>
                </div>
                <div class="timeline" >
                    {% for lg in logs %}
                    <div class="timeline-header no-border" style="margin-bottom: -8px;">
                        {% if lg.action_flag == 1 %}
                        <i class="fas fa-plus-square bg-primary"></i>
                        {% elif lg.action_flag == 2 %}
                        <i class="fas fa-pencil-alt bg-warning"></i>
                        {% elif lg.action_flag == 3 %}
                        <i class="fas fa-trash bg-danger"></i>
                        {% endif %}
                        <div class="timeline-item" >
                            <span class="time"><i class="fas fa-clock"></i> {{ lg.action_time }}</span>
                            <p class="timeline-body">Objeto {{ lg.object_repr }} {{ lg.get_action_text }} por {{ lg.user }} </p>
                        
                        
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6" >
                <div class="card-header" >
                    <a class="font-weight-bold" style="pointer-events: none; color: #3bbd61;">
                        Accesos Recientes
                    </a>
                </div>
                <div class="timeline" >
                    {% for user in users %}
                    <div class="timeline-header no-border" style="margin-bottom: -8px;">
                        <i class="fas fa-door-open bg-info"></i>
                        <div class="timeline-item" >
                            <span class="time"><i class="fas fa-clock"></i> {{ user.date_joined }}</span>
                            <p class="timeline-body"> {{ user }} {{ lg.get_action_text }}, HostName {{ hostname }} </p>
                        
                        
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
        </div>
    </div>







    {% endif %}





























    




<!--

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mt-3">
                <div class="card card-widget widget-user">
                    <div class="widget-user-header bg-gradient-green" style="height: auto;">
                        <h3 class="widget-user-username">
                            {{ company.name }}<br>
                            Ruc: {{ company.ruc }}
                        </h3>
                        <br>
                        <h5 class="widget-user-desc" style="font-weight: normal;">
                            <b>Bienvenido {{ request.user.get_full_name }}</b><br>
                            Tu último acceso fue {{ request.user.last_login }}
                        </h5>
                    </div>
                    <img class="img-fluid d-block mx-auto p-6" style="width: 100px; height: 100px;"
                         src="{{ company.get_image }}" alt="User Avatar">
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6 border-right">
                                <div class="description-block">
                                    <i style="color: #5fcf80;" class="fas fa-phone-volume fa-3x p-3"></i>
                                    <h5 class="description-header font-weight-bold mb-2">
                                        Teléfono
                                    </h5>
                                    <span class="description-text">
                                            {{ company.mobile }} 
                                        </span>
                                </div>
                               
                            </div>
                            <div class="col-sm-6">
                                <div class="description-block">
                                    <i style="color: #007bff;" class="fas fa-envelope fa-3x p-3"></i>
                                    <h5 class="description-header font-weight-bold mb-2">
                                        Correo electrónico
                                    </h5>
                                    <span class="description-text">
                                            {{ company.email }}
                                        </span>
                                </div>
                                
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6 border-right">
                                <div class="description-block">
                                    <i  style="color: #5fcf80;" class="fas fa-location-arrow fa-3x p-3"></i>
                                    <h5 class="description-header font-weight-bold mb-2">
                                        Dirección
                                    </h5>
                                    <span class="description-text">
                                            {{ company.address }}
                                        </span>
                                </div>
                                
                                

                            </div>
                            <div class="col-sm-6">
                                <div class="description-block">
                                    <i  <i style="color: #007bff;" class="fas fa-street-view fa-3x p-3"></i>
                                    <h5 class="description-header font-weight-bold mb-2">
                                        Ubicación
                                    </h5>
                                    <span class="description-text">
                                            {{ company.coordinates }}
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->



    <script src="https://code.highcharts.com/8.1.2/highcharts.js"></script>
    <script src="https://code.highcharts.com/8.1.2/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/8.1.2/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/8.1.2/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/8.1.2/modules/accessibility.js"></script>
    <script type="application/javascript">
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Materiales-Stock'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Porcentaje',
                colorByPoint: true,
                data: {{ get_total_inventory|safe }}
            }]
        });
        Highcharts.chart('container-pie', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Materiales-Stock'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Porcentaje',
                colorByPoint: true,
                data: {{ get_total_inventory|safe }}
            }]
        });
    </script>
{% endblock %}


