{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-v4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-v4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'output/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Nro</th>
    <th>Nº documento</th>
    <th>Fecha</th>
    <th>Profesor</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block rows %}
    {% for i in object_list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.num_doc }}</td>
            <td>{{ i.date_output }}</td>
            <td>{{ i.teacher }}</td>
            <td class="text-center">
                <a rel="details" data-toggle="tooltip" title="Ver detalles"
                   class="btn btn-info btn-xs btn-flat">
                   <i class='fas fa-clipboard-list'></i>

                </a>
                <a href="{% url 'delete_output' i.id %}" rel="delete" data-toggle="tooltip"
                   title="Eliminar registro" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block content_list_before %}
    <div class="modal fade" id="myModalOutputs" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b><i class="fa fa-search" aria-hidden="true"></i> Detalle de materiales</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <table width="100%"
                                       class="table table-bordered table-md table-hover"
                                       id="tblMatDetails">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Material</th>
                                            <th>Descripción</th>
                                            <th>Cantidad retirada</th>
                                            <th width="15%">Devolución</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="button" id="submit_refunds" class="btn btn-primary btn-flat">
                                <i class="fas fa-save" aria-hidden="true"></i> Guardar cambios
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}